/* Base styles */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
}

input {
    width: 100%;
}

button,
input,
textarea,
select,
option {
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-flex;
}

li {
    display: inline-flex;
    list-style: none;
}

span {
    font-family: inherit;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 30px;
}

/* COMMON STYLES */

.orange-btn {
    margin-top: 60px;
    border-radius: 4px;
    border: 2px solid #F66437;
    padding: 22px 60px;
    color: #FA6334;
    font-size: 18px;
    font-weight: 700;
    line-height: 139.9%;
}

/* PROMO SECTION */

.promo {
    height: 1587px;
    padding-top: 174px;
    background: url(../img/promo/promo-bg.png) center / cover no-repeat;
    position: relative;
}

.promo-title {
    color: #FFF;
    font-size: 85px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: 0.85px;
}

.promo-descr {
    margin-top: 14px;
    max-width: 589px;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

.promo-arrow {
    margin-top: 204px;
    display: block;
}

.tasks {
    position: absolute;
    bottom: -105px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.tasks-title {
    max-width: 981px;
    color: #FFF;
    font-size: 50px;
    font-weight: 300;
    line-height: 131%;
    letter-spacing: 0.5px;
}

.tasks__list {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.task__card {
    max-width: 333px;
    width: 100%;
    min-height: 410px;
    border-radius: 36px;
    border: 1px solid #7D7D7D;
    background: #272727;
    padding: 20px;
    display: block;
}

.task__card-title {
    margin-top: 20px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 141%;
}

.task__card-descr {
    margin-top: 12px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.laptop__block {
    position: absolute;
    right: calc(100vw / 20);
    top: 124px;
    max-width: 50%;
}

.laptop {
    max-width: 100%;
}

.laptop-link {
    position: absolute;
    bottom: 6px;
    right: 20%;
    max-width: 361px;
    background: rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(29px);
    border-radius: 25px;
    border: 1px solid #656565;
    padding: 20px 22px 20px 40px;
    color: var(--ffffff, #FFF);
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

.laptop-link a {
    color: #DABA69;
    font-weight: 700;
}

/* WORK SECTION */

.work {
    padding-top: 310px;
}

.work-title {
    color: #111;
    font-size: 68px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: 0.68px;
}

.work__items {
    margin-top: 227px;
}

.work__item {
    display: flex;
    justify-content: space-between;
}

.work__info {
    display: flex;
    gap: 30px;
}

.work__info-text {
    width: 100%;
}

.work__show {
    position: relative;
}

.work__show-img {
    position: absolute;
}

.work__show-text {
    position: absolute;
}

.work__info-title {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 141%;
}

.work__info-descr {
    margin-top: 20px;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 181.5%;
}

/* STYLES OF 1st WORK ITEM */

.work__item:nth-child(1) .work__info-text {
    max-width: 527px;
}

.work__item:nth-child(1) .work__show-img {
    top: -167px;
    right: 0;
}

.work__item:nth-child(1) .work__show-text {
    top: 320px;
    left: -670px;
    max-width: 297px;
    text-align: right;
    color: #9A7E37;
    font-size: 16px;
    font-weight: 400;
    line-height: 162%;
}