/* Base styles */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
}

input {
    width: 100%;
}

button,
input,
textarea,
select,
option {
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-flex;
}

li {
    display: inline-flex;
    list-style: none;
}

span {
    font-family: inherit;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 30px;
}

/* COMMON STYLES */

.orange-btn {
    margin-top: 60px;
    border-radius: 4px;
    border: 2px solid #F66437;
    padding: 22px 60px;
    color: #FA6334;
    font-size: 18px;
    font-weight: 700;
    line-height: 139.9%;
}

/* PROMO SECTION */

.promo {
    height: 1587px;
    padding-top: 174px;
    background: url(../img/promo/promo-bg.png) center / cover no-repeat;
    position: relative;
}

.promo-title {
    color: #FFF;
    font-size: 85px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: 0.85px;
}

.promo-descr {
    margin-top: 14px;
    max-width: 589px;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

.promo-arrow {
    margin-top: 204px;
    display: block;
}

.tasks {
    position: absolute;
    bottom: -105px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.tasks-title {
    max-width: 981px;
    color: #FFF;
    font-size: 50px;
    font-weight: 300;
    line-height: 131%;
    letter-spacing: 0.5px;
}

.tasks__list {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.task__card {
    max-width: 333px;
    width: 100%;
    min-height: 410px;
    border-radius: 36px;
    border: 1px solid #7D7D7D;
    background: #272727;
    padding: 20px;
    display: block;
}

.task__card-title {
    margin-top: 20px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 141%;
}

.task__card-descr {
    margin-top: 12px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.laptop__block {
    position: absolute;
    right: calc(100vw / 20);
    top: 124px;
    max-width: 50%;
}

.laptop {
    max-width: 100%;
}

.laptop-link {
    position: absolute;
    bottom: 6px;
    right: 20%;
    max-width: 361px;
    background: rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(29px);
    border-radius: 25px;
    border: 1px solid #656565;
    padding: 20px 22px 20px 40px;
    color: var(--ffffff, #FFF);
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

.laptop-link a {
    color: #DABA69;
    font-weight: 700;
}

/* WORK SECTION */

.work {
    padding-top: 310px;
}

.work-icon {
    display: flex;
    height: fit-content;
}

.work-title {
    color: #111;
    font-size: 68px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: 0.68px;
}

.work__items {
    margin-top: 227px;
}

.work__item {
    display: flex;
    justify-content: space-between;
}

.work__info {
    display: flex;
    gap: 30px;
}

.work__info-text {
    width: 100%;
}

.work__show {
    position: relative;
}

.work__show-img {
    position: absolute;
}

.work__show-text {
    position: absolute;
    color: #9A7E37;
    font-size: 16px;
    font-weight: 400;
    line-height: 162%;
}

.work__info-title {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 141%;
}

.work__info-descr,
.info__list-item {
    margin-top: 20px;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 181.5%;
}

.work__info-list {
    margin-top: 30px;
}

.info__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info__list-item {
    margin-top: 0 !important;
    position: relative;
    padding-left: 39px;
}

.info__list-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 13px;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #FA6334;
}

/* STYLES OF 1st WORK ITEM */

.work__item:nth-child(1) {
    margin-bottom: 650px;
}

.work__item:nth-child(1) .work__info-text {
    max-width: 527px;
}

.work__item:nth-child(1) .work__show-img {
    top: -167px;
    right: 0;
}

.work__item:nth-child(1) .work__show-text {
    top: 320px;
    left: -670px;
    width: 297px;
    text-align: right;
}

/* STYLES OF 2nd WORK ITEM */

.work__item:nth-child(2) {
    margin-bottom: 147px;
}

.work__item:nth-child(2) .work__info-text {
    max-width: 526px;
}

.work__item:nth-child(2) .work__show-img {
    top: -233px;
    left: 115px;
}

.work__item:nth-child(2) .work__show-text {
    left: 480px;
    top: 270px;
    width: 223px;
}

/* STYLES OF 3rd WORK ITEM */

.work__item:nth-child(3) {
    margin-bottom: 310px;
}

.work__item:nth-child(3) {
    align-items: center;
    gap: 136px;
    justify-content: flex-end;
}

.work__item:nth-child(3) .work__info-text {
    max-width: 526px;
}

/* STYLES OF 4th WORK ITEM */

.work__item:nth-child(4) {
    margin-bottom: 609px;
}

.work__item:nth-child(4) .work__info-text {
    max-width: 527px;
}

.work__item:nth-child(4) .work__show-img:nth-child(1) {
    right: 375px;
    top: -148px;
}

.work__item:nth-child(4) .work__show-img:nth-child(2) {
    right: 0;
    top: 58px;
}

/* STYLES OF 5th WORK ITEM */

.work__item:nth-child(5) {
    margin-bottom: 457px;
}

.work__item:nth-child(5) .work__show-img {
    left: 0;
    top: -85px;
}

.work__item:nth-child(5) .work__info-text {
    max-width: 527px;
}

.work__item:nth-child(5) .work__show-text {
    left: 360px;
    top: 385px;
    width: 240px;
}

/* STYLES OF 6th WORK ITEM */

.work__item:nth-child(6) {
    margin-bottom: 340px;
}

.work__item:nth-child(6) .work__info-text {
    max-width: 527px;
}

.work__item:nth-child(6) .work__show-img {
    right: 0;
    top: -186px;
}

/* STYLES OF 7th WORK ITEM */

.work__item:nth-child(7) {
    position: relative;
    margin-bottom: 184px;
}

.work__item:nth-child(7) .bg {
    position: absolute;
    right: 0;
    top: -90px;
    z-index: -1;
}

.work__show__items {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding-left: 113px;
}

.show__item {
    max-width: 347px;
}

.show__item:nth-child(2) {
    margin-top: 234px;
}

.show__item:nth-child(3) {
    margin-top: 515px;
}

.work__info-title .status {
    font-size: 14px;
    padding: 4px 10px;
    border-radius: 19px;
    background: linear-gradient(91deg, #DFC172 22.96%, #C9A750 108.92%);
}

.show__item .work__info-text {
    margin-top: 40px;
}

/* STYLES OF 8th WORK ITEM */

.work__item:nth-child(8) {
    margin-bottom: 260px;
}

.work__item:nth-child(8) .work__info-text {
    max-width: 527px;
}

.work__item:nth-child(8) .work__show-img {
    top: -42px;
    right: 0;
}

.work__item:nth-child(8) .work__show-text {
    text-align: right;
    right: 380px;
    width: 266px;
    bottom: 120px;
}

/* ADDITIONAL BLOCK */

.additional {
    margin-bottom: 160px;
}

.additional__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.additional__info .work-icon {
    margin-bottom: 30px;
}

.additional__items {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.additional__item {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.additional-img {
    position: relative;
    height: fit-content;
    display: flex;
    margin-bottom: 40px;
}

.qr {
    position: absolute;
    bottom: -30px;
    right: -25px;
    border-radius: 8.999px;
    border: 9px solid #fff;
    background: #FFF;
    box-shadow: 0px 7.199px 14.399px 0px rgba(50, 50, 71, 0.06), 0px 0px 7.199px 0px rgba(50, 50, 71, 0.13);
}

/* CONNECT BLOCK */

.connect .work__info-text {
    max-width: 745px;
}

.connect__show {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.connect-text {
    max-width: 563px;
    position: absolute;
    bottom: 88px;
    right: 0;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.connect-text a {
    color: #DABA69;
    font-weight: 700;
}


/* PRESENTATION SECTION */

.presentation {
    margin-top: 160px;
}

.top {
    position: relative;
    height: 624px;
    background: url(../img/presentation/top-bg.png) center / cover no-repeat;
}

.top__content {
    display: flex;
    justify-content:center;
}

.play {
    width: 165.655px;
    height: 161px;
    position: absolute;
    left: 47.5%;
    bottom: 111px;
    transform: translateX(-50%);
    background: url(../img/presentation/play.png) center / contain no-repeat;
    z-index: 2;
}

.presentation__info {
    margin-top: 222px;
    max-width: 479px;
}

.presentation__info-title {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 141%;
}

.presentation__info-descr {
    margin-top: 20px;
    color: #BDBDBD;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

.iphone {
    margin-top: 76px;
}

.bottom {
    overflow: hidden;
    height: 240px;
    background: #DABA69;
}

.presentation-download {
    display: block;
    margin: 30px auto 0 auto;
    width: fit-content;
    transition: .4s all;
}

.presentation-download:hover {
    background:  #F66437;
    color: #fff;
}